<!DOCTYPE html>
<!--
  Pizza Time // whospm
  Roster: Yu L, Kyle L, Emily M, Jun Jie L
  SoftDev
 -->
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Draw</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <!-- Flash Message -->
  <body class = "flex flex-col justify-center items-center text-center">
    <div class = "flash w-full select-none">
    {% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="w-full">
            {% for message in messages %}
            <div class="bg-orange-300/70 text-black py-4 text-center">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% endblock %}
    </div>

    <div class="header">
      <h1>
      </h1>
    </div>
    <canvas id="pizzaCanvas" width="500" height="500" class="border rounded-lg shadow-lg"></canvas>
    
    <div id="controls" class="flex gap-4 mb-4">
        <div class="sauce-group">
            <h3>1. Pick Sauce</h3>
            <button onclick="setSauce('Tomato', '#FF6347')">Tomato</button>
            <button onclick="setSauce('Pesto', '#90EE90')">Pesto</button>
            <button onclick="setSauce('Alfredo', '#FFFDD0')">Alfredo</button>
        </div>

        <div class="topping-group">
            <h3>2. Pick Topping</h3>
            <button onclick="setTool(1, 'Pepperoni')">Pepperoni</button>
            <button onclick="setTool(2, 'Pineapple')">Pinapple</button>
            <button onclick="setTool(3, 'Ham')">Ham</button>
        </div>
    </div>

    <button onclick="savePizza()" class="mt-4 px-4 py-2 rounded">Done</button>

    <br>
    <hr>

    <div class = "footer">
      <p>
        Return to <a href= "/" class ="text-black hover:text-orange-400"> homepage</a><br>
      </p>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>